/* board */
.list-group-item {
    padding: 20px;
}

.list-group-item img {
    width: 180px; 
    height: 100px; 
    object-fit: cover; /* 이미지 비율 유지 */
}

.list-group-item .w-100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group-item h5 {
    font-size: 1.25rem; /* 제목 글씨 크기 */
}

.list-group-item p {
    font-size: 1rem; /* 본문 글씨 크기 */
}

.page-link {
    color: black;
}

.page-item.active .page-link {
    color:white;
    font-weight: bold;
    background-color: black;
    border-color: black;
}

.page-iink:focus, .page-link:hover{
    color:white;
    background-color: black;   
}

.pagination .page-item{
    margin: 0 5px;
}

.col-lg-4 .list-group{
    margin-top: 28px;
}

/* write, update */
.card-header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}    

.card-header h4 {
    margin-bottom: 10px; 
}    
.card-header p {
    margin-top: 15px; 
}    

