.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profile-info {
    margin-left: 20px;
}

.ecobag-info, .ecobag-hist {
    margin-bottom: 20px;
}

.eco-item, .hist-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}